* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /*color palette*/
  --maincolor: #241c4a;
  --secondary: #f15a22;
  --tertiary: white;
  --bloop: #00aeef;
  --floop: #9e5aa4;
}

html {
  scroll-behavior: smooth;
}
