* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /*color palette*/
  --maincolor: #241c4a;
  --secondary: #f15a22;
  --tertiary: white;
  --bloop: #00aeef;
  --floop: #9e5aa4;
}

html {
  scroll-behavior: smooth;
}

.intro {
  align-items: center;
}

.animateText {
  font-size: 4rem;
  font-weight: 1000;
  font-family: poppins;
  text-decoration: none;
  background: linear-gradient(to right, #241c4a 50%, #f15a22 50%, #9e5aa4);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s ease-out;
}

.animateText:hover {
  background-position: -100%;
}

.lead {
  font-weight: bolder;
}

#bio {
  padding: 2rem;
}

.skillsList {
  padding: 3rem;
  list-style: none;
}

.animateLink {
  font-size: 2rem;
  font-weight: 1000;
  font-family: poppins;
  background: linear-gradient(to left, #241c4a 50%, #00aeef 50%, #f15a22);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s ease-out;
}

.animateLink:hover {
  background-position: -59%;
}

.aL:hover .skillIcon {
  height: 30px;
  color: var(--secondary);
  transition-duration: 0.3s ease-out;
}

.workLink {
  text-decoration: underline;
  text-decoration: var(--maincolor);
}

.img-fluid {
  height: 75%;
  width: 75%;
}

@media screen and (max-width: 1024px) {
  #navbar {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }
  #centerAll {
    position: relative;
    top: 200px;
    left: 0%;
    right: 50%;
  }
}
