* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /*color palette*/
  --maincolor: #241c4a;
  --secondary: #f15a22;
  --tertiary: white;
  --bloop: #00aeef;
  --floop: #9e5aa4;
}

html {
  scroll-behavior: smooth;
}

.animateLink {
  font-size: 2rem;
  font-weight: 1000;
  font-family: poppins;
  background: linear-gradient(to left, #241c4a 50%, #00aeef 50%, #f15a22);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s ease-out;
}

.animateLink:hover {
  background-position: -100%;
}
